.pageTitle {
  font-family: "Arial", sans-serif; /* Простое и современное семейство шрифтов */
  font-size: 24px; /* Размер шрифта */
  font-weight: 700; /* Жирный текст */
  color: #333; /* Темно-серый цвет текста */
  text-align: center; /* Центрирование текста */
  margin: 20px 0; /* Отступы сверху и снизу */
  padding: 10px 20px; /* Паддинги вокруг текста */
}
