.addContactInput {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  margin-top: 5px;
}

.addContactForm {
  flex-direction: column;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  color: #666;
}

.addContactBtn {
  background-color: #000; /* Черный фон */
  color: #fff; /* Белый текст */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px;
}

.addContactBtn:hover {
  background-color: #333; /* Темно-серый при наведении */
}
